@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

:root {
  color-scheme: light;
  background-color: white;
}

input[type="password"]::-ms-reveal, 
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none;
  pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




/* Custom CSS to hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@media screen and (max-width: 766px) {
  .reactour__close {
    width: 17px !important;
    padding-left: 3px  !important;
  }
}

/* below css class replace bootstrap background color with daisy */
.op-bg-primary {
  @apply bg-primary;
}

.op-bg-secondary {
  @apply bg-secondary;
}

.op-bg-info {
  @apply bg-info;
}

.op-bg-success {
  @apply bg-success;
}

.op-bg-warning {
  @apply bg-warning;
}

/* below css class replace bootstrap text color with daisy */
.op-text-primary {
  @apply text-primary;
}

.op-text-secondary {
  @apply text-secondary;
}

.op-text-info {
  @apply text-info;
}

.op-text-accent {
  @apply text-accent;
}

.op-text-success {
  @apply text-success;
}

.op-text-warning {
  @apply text-warning;
}

.op-border-primary {
  @apply border-primary;
}

/* CSS for scrollbar customization */
* {
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: gray;
  /* For Firefox */
}

/* For webkit-based browsers like Chrome, Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

.custom-modal .modal-dialog {
    max-width: 1200px; /* Set your desired width */
    width: 100%; /* Ensure it takes full width */
}

.custom-modal .modal-content {
    height: 600px; /* Set your desired height */
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
}